.CreditCardValidator {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 1em;
}

.Label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}